#box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}
#container{
    background-color: rgb(177, 53, 207);
    height: 500px;
    width: 400px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
  #cliqueAquiBtn {
    font-size: 16px;
    cursor: pointer;
  }

#formulario{
 display: flex;
 flex-direction: column;
 justify-items: center;
 margin: 30px;
 
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#peso{
  border-radius: 30px;
}
  
#altura{
  border-radius: 30px;
}

#cliqueAquiBtn{
  margin: 30px;
  border-radius: 30px;
}
#pesotxt{
  font-size: 30px;
}
#alturatxt{
  font-size: 30px;
}
#h1{
  display: flex;
  justify-items: center;
  align-items: center ;
  margin: 30px;
}